@font-face {
    font-family: 'GothaLig';
    src:    url('../fonts/GothaLig.eot');
    src:    url('../fonts/GothaLig.eot') format('embedded-opentype'),
        url('../fonts/GothaLig.otf') format('truetype'),
        url('../fonts/GothaLig.woff') format('woff'),
        url('../fonts/GothaLig.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-book';
    src:    url('../fonts/Gotham-book.eot');
    src:    url('../fonts/Gotham-book.eot') format('embedded-opentype'),
        url('../fonts/Gotham-book.otf') format('truetype'),
        url('../fonts/Gotham-book.woff') format('woff'),
        url('../fonts/Gotham-book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-thin-webfont';
    src:    url('../fonts/gotham-thin-webfont.eot');
    src:    url('../fonts/gotham-thin-webfont.eot') format('embedded-opentype'),
        url('../fonts/gotham-thin-webfont.otf') format('truetype'),
        url('../fonts/gotham-thin-webfont.woff') format('woff'),
        url('../fonts/gotham-thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}